.pagination{
    width: 100%;
    padding: 10px;
}
.pages_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.page_link{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    

}
.active_link .page_link{
    background-color: var(--isseus-color);
    color: white;
}