*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-font-color:#fff;
  --second-font-color:gray;
  --main-background-color:#0d1117;
  --second-background-color:#3F3351;
  --stars-color:#05e705;
  --isseus-color:tomato;
  

}
body{
  background-color: var(--main-background-color);
}